@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0%;
  color: #fad744;
  background-color: #54c3ef;
}
.quiz-heading {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 4px black;
  font-family: Caveat Brush;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
}
.form {
  position: relative;
  border: 1px solid;
  width: 55%;
  margin-left: 20%;
  font-family: Source Sans Pro;
  background-color: #2b3252;
  border-radius: 10px;
}
.options-wrapper {
  margin-bottom: 40px;
}
.Question-wrapper {
  margin: 25px;
  border-bottom: 1.2px solid #fad744;
}
.option {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
}
.labels {
  cursor: pointer;
}

.labels input {
  margin-right: 10px;
}

#form-submit {
  cursor: pointer;
  text-align: center;
  padding: 10px 15px;
  background-color: #fad744;
  border-radius: 10px;
  border: 0;
  margin: 10px 45%;
}
.score-div {
  border-radius: 10px;
  color: black;
  width: 12%;
  height: 250px;
  margin-left: 10px;
  background-color: white;
  position: sticky;
  top: 10px;
  font-family: Source Sans Pro;
}
.scorelabel {
  padding: 50px 0 0 20px;
  font-size: 20px;
}
.marks {
  padding: 20px 0 0 20px;
  font-size: 40px;
  font-weight: 700;
}
.resetBtn {
  display: none;
}
.loader {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
