@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
}


.heading{
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 0;
    color: rgb(27, 25, 25);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}


.cloth-img{
    width: 100%;
}

.card {
    width: 15%;
    min-width: 200px;
    height: auto;
    margin: 30px 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
.card:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
}

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4%;
}
#card-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4%;
}

.cloth-card{
    text-decoration: none;
}

.card-content{
    padding-left: 10px;
    margin: 10px auto;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
h4{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    color: rgb(110, 110, 110);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
h5{
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}


@media (max-width : 480px) {
    .card {
        width: 37%;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    }
    
    #card-container{
        display: flex;       
        padding: 0 4%;
    }
    #card-container1{
        display: flex;
        padding: 0 4%;
    }
    .heading{
        margin-top: 50px;
        margin-left: 4%;
        margin-bottom: 0;
        color: rgb(27, 25, 25);
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600;
    }
}